.search-container{
    margin-top: 7%;
    margin-left: 4%;
}
.button-dimension{
    padding-top: 1.5%;
    padding-bottom: 0.6%;
    width: 8%;
}
.table-container{
    margin-top: 2%;
    margin-left: 4%;
    background-color: rgb(235, 235, 217);
}
.sermon-title-border{
    border-bottom-style: outset;
    border-bottom-color: rgba(189, 189, 0, 0.315);
}